In [1]:
8%3

2

In [2]:
xx=2

In [3]:
xx = xx + 2

In [4]:
yy = 440 * 12

In [5]:
print(yy)

5280

In [7]:
jj = None

In [9]:
x=2

In [10]:
"Hello " + 'there'

'Hello there'

In [11]:
type (jj)

NoneType

In [12]:
type(1)

int

In [13]:
type(1.4)

float

In [14]:
type(x)

int

In [16]:
type (4)

int

In [17]:
print (float(99)+100)

199.0

In [18]:
int(199.0)

199

In [19]:
9/2

4.5

In [20]:
99/100

0.99

In [21]:
10.0/2

5.0

In [22]:
sval = '123'

In [23]:
type(sval)

str

In [24]:
sval = int(sval)

In [25]:
type(sval)

int

In [26]:
print(sval+1)

124

In [27]:
name = input('Who are you?')
print('Welcome', name)

Who are you?Kevin
Welcome Kevin

In [28]:
pwd

'C:\\Users\\kmdreve\\Programming for Everbody (Getting Started with Python)'

In [29]:
# Convert elevtor floors from European to American
inp = input('European Floors')
usf = int(inp) + 1
print('American Floors', usf)

European Floors3
American Floors 4

In [30]:
int(98.6)

98

In [34]:
hrs = input('Enter Hours:')
pay = input('Enter pay per hour:')
hrs = float(hrs)
pay = float(pay)
total = hrs * pay
print('pay:', total)

Enter Hours:35
Enter pay per hour:2.75
pay: 96.25

In [3]:
for i in range(99):
    print(i)
    if i > 50:
        print('Bigger than 2')
        print('Done with i', i)
print('all done')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
Bigger than 2
Done with i 51
52
Bigger than 2
Done with i 52
53
Bigger than 2
Done with i 53
54
Bigger than 2
Done with i 54
55
Bigger than 2
Done with i 55
56
Bigger than 2
Done with i 56
57
Bigger than 2
Done with i 57
58
Bigger than 2
Done with i 58
59
Bigger than 2
Done with i 59
60
Bigger than 2
Done with i 60
61
Bigger than 2
Done with i 61
62
Bigger than 2
Done with i 62
63
Bigger than 2
Done with i 63
64
Bigger than 2
Done with i 64
65
Bigger than 2
Done with i 65
66
Bigger than 2
Done with i 66
67
Bigger than 2
Done with i 67
68
Bigger than 2
Done with i 68
69
Bigger than 2
Done with i 69
70
Bigger than 2
Done with i 70
71
Bigger than 2
Done with i 71
72
Bigger than 2
Done with i 72
73
Bigger than 2
Done with i 73
74
Bigger than 2
Done with i 74
75
Bigger than 2
Done with i 75
76
Bigger than 2
Done with i 76
77
Bigger than 2
Done with i 77
78
Bigger than 2
Done with i 78
79
Bigger than 2
Done with i 79
80
Bigger than 2
Done with i 80
81
Bigger than 2
Done with i 81
82
Bigger than 2
Done with i 82
83
Bigger than 2
Done with i 83
84
Bigger than 2
Done with i 84
85
Bigger than 2
Done with i 85
86
Bigger than 2
Done with i 86
87
Bigger than 2
Done with i 87
88
Bigger than 2
Done with i 88
89
Bigger than 2
Done with i 89
90
Bigger than 2
Done with i 90
91
Bigger than 2
Done with i 91
92
Bigger than 2
Done with i 92
93
Bigger than 2
Done with i 93
94
Bigger than 2
Done with i 94
95
Bigger than 2
Done with i 95
96
Bigger than 2
Done with i 96
97
Bigger than 2
Done with i 97
98
Bigger than 2
Done with i 98
all done

In [8]:
x=7
if x < 2 :
    print('small')
elif x < 10 :
    print('medium')
else:
    print('LARGE')
print ('all done')

medium
all done

In [13]:
astr = 'Hello'
try:
    istr = int(astr)
except:
    istr = -1
print('First', istr)
astr = '123'
try:
    istr = int(astr)
except:
    istr = -1
print('Second', istr)

First -1
Second 123

In [18]:
#$ python3 trynum.py
rawstr = input('Enter a number:')
try:
    ival = int(rawstr)
except:
    ival = -1
if ival > 0 :
    print('Nice Work')
else:
    print('Not a Number')

Enter a number:red
Not a Number

In [24]:
# Enter Number of Hours Worked
hrs = input("Enter Hours:")
try: 
    h = float(hrs)
except:
    print('Enter a number')

# Enter Number of Hours Worked
rate = input("Enter Hourly pay:")
try: 
    rph = float(rate)
except:
    print('Enter a number')

# Multiply hours x rate

total = h * rph
print(total)

Enter Hours:5
Enter Hourly pay:6
30.0

In [28]:
# Enter Number Hours Worked
hrs = input("Enter Hours:")
try:
    h = float(hrs)
except:
    print("Enter a numerical number")

# Enter Rate per Hour
rate = input("Enter Hourly Pay:")
try:
    rph=float(rate)
except:
    print("Enter a numerical number")

# Determine overtime
if h <=40:
    overtime = 0
else:
    overtime = h - 40

#Print Total
if h <= 40:
    total = h*rph
else:
    total = (40 * rph) + (overtime * rph * 1.5)

print(total)

Enter Hours:50
Enter Hourly Pay:34
1870.0

In [29]:
score = input("Enter a numerical grade between 1.0 and 0")

# Check user input for number input
try:
    grade = float(score)
except:
    print("enter a decimal number")

# Check user input for accuracy
if 0 <= grade <= 1.0:
    grade = grade
else:
    print("The number entered is not between 0 and 1")
if .9 <= grade <= 1:
    print('A')
elif .8 <= grade < .9:
    print('B')
elif .7 <= grade < .8:
    print('C')
elif .6 <= grade < .7:
    print('D')
else:
    print('F')

Enter a numerical grade between 1.0 and 0.85
B